.header__wrapper {
  display: flex;
  margin-bottom: 50px;
  .info__wrapper {
    margin-left: 24px;
    h1 {
      font-size: 20px;
    }
    .contact__wrapper {
      display: flex;
      flex-direction: row;
    }
  }
}
.form__wrapper {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
