.layout {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 24px;
  height: 100vh;
  background-color: var(--background-main);
}
