.page_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .form_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .fields_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .label__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        max-width: 440px;
        .controlled_field {
          margin-bottom: unset !important;
        }
      }
      .about_info {
        max-width: 440px;
        display: flex;
        justify-content: space-between;
      }

      .group {
        display: flex;
        flex-direction: column;
        .group_wrapper {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
        }
        span {
          margin-bottom: 10px;
        }
        .controlled_field {
          display: flex;
          align-items: center;
          width: 100%;
          margin-bottom: 35px;
          > div {
            max-width: 440px;
            width: 100%;
          }
        }
      }
      select {
        max-width: 400px;
        padding-left: 10px;
        height: 44px;
        background-color: var(--background-main);
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        box-sizing: border-box;
        &:hover {
          border: 1px solid var(--purple);
        }
        &:focus {
          border: var(--purple) solid 2px;
        }
        &:focus-visible {
          outline: none;
        }
        option {
          height: 44px;
          background-color: var(--background-main);
          border: 1px solid rgba(0, 0, 0, 0.16);
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
      textarea {
        max-width: 440px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        d &:hover {
          border: 1px solid var(--purple);
        }
        &:focus {
          border: var(--purple) solid 2px;
        }
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
  .buttons_wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
}

.formlabel__wrapper {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  align-items: center;
}

.error_tip {
  color: red;
  font-size: 11px;
}
